.containerRecommended {
  background-color: #1f1f1f;
  padding: 40px 20px;
  border-radius: 30px;
  margin-top: 10px;
}

.recommendedTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
}

.containerPagination {
  display: flex;
  justify-content: space-between;
}

.paginationList {
  display: flex;
  gap: 8px;
}

.paginationButton {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 50px;
}

.booksList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 22px;
}

.bookListItem {
  width: calc((100% - 21px) / 2);
  cursor: pointer;
}

.bookImg {
  width: 100%;
  height: 208px;
  object-fit: cover;
  border-radius: 8px;
}

.bookTitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-top: 8px;
}

.bookAuthor {
  color: #686868;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .containerRecommended {
    padding: 40px 40px;
    margin-top: 16px;
  }

  .recommendedTitle {
    font-size: 28px;
    line-height: 1.14;
  }

  .paginationButton {
    width: 40px;
    height: 40px;
  }

  .booksList {
    row-gap: 27px;
  }

  .bookListItem {
    width: calc((100% - 75px) / 4);
    cursor: pointer;
  }
  
}

@media screen and (min-width: 1440px) {
  .containerHome {
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }

  .containerRecommended {
    width: 100%;
    background-color: #1f1f1f;
    padding: 40px;
    border-radius: 30px;
    margin-top: 0;
  }

  .containerPagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .recommendedTitle {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .paginationList {
    display: flex;
    gap: 8px;
  }

  .paginationButton {
    width: 40px;
    height: 40px;
  }

  .bookListItem {
    width: calc((100% - 100px) / 6);
  }
}
